<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="52197Mr.Chan.16094A90BD21C" Publisher="CN=37208691-97E9-4FCE-B256-2B98458207AB" Version="1.0.0.5" />
  <Properties>
    <DisplayName>密码入门</DisplayName>
    <PublisherDisplayName>Mr.Chan</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="密码入门.App">
      <VisualElements DisplayName="密码入门" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="密码入门" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="black" />
      </VisualElements>
    </Application>
  </Applications>
</Package>